h3 {
    color: rgb(7, 30, 233);
    font-family: Arial, Helvetica, sans-serif;
}

p, li {
    font: 15px italic, sans-serif;
}

span {
    font-weight: bolder;
}

#expertise:hover {
    color: coral;
}

body {
    background-color: rgb(230, 230, 230);
    background-image: url("background.PNG"), url("background2.png");
    background-position: right top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-top: 50px; 
    margin-left: 20px; 
}

th:hover, td:hover {
    color: purple;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #D0DAEE;
}

@media (max-width: 768px) {
    body {
        align-items: flex-start; /* כל התוכן בצד שמאל */
    }

    button.dark-mode-btn {
        position: absolute;
        top: 20px;
        right: 20px; /* כפתור בצמוד לימין */
        margin-top: 0; /* הכפתור בצד ימין למעלה */
    }

    .centered-info {
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }

    footer {
        position: static;
        height: auto;
        padding: 10px;
        background-color: #6c98d6;
        text-align: center;
        font-size: 14px;
    }

    footer a, footer label {
        display: block;
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    footer {
        font-size: 12px;
    }
}

.years {
    position: absolute; /* ממקם את השנים באופן מוחלט */
    right: 0; /* צמוד לימין */
    font-weight: bold;
    margin-left: 10px;
}

.centered-info {
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

body.dark-mode {
    background-color: #121212;
    color: rgb(255, 255, 255);
}

button.dark-mode-btn {
    position: absolute; 
    top: 20px; 
    right: 20px;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button.dark-mode-btn:hover {
    background-color: #f0f0f0;
}

body.dark-mode h3 {
    color: rgb(137, 216, 243);
}

a {
    color: rgb(103, 104, 103);
}

a:hover {
    color: #ffffff;
}
